:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: rgb(170, 92, 219);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 80px 30px 80px 30px;
  background-color: var(--Dark-desaturated-blue);
  max-width: 360px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card img {
  max-width: 100%;
  filter: invert(11%) sepia(22%) saturate(918%) hue-rotate(220deg)
    brightness(70%) contrast(114%);
}
h1 {
  color: var(--White);
  padding: 40px 25px 25px 30px;
  font-size: 28px;
  text-align: center;
}
h1 span {
  color: var(--Soft-violet);
}
h2 {
  color: var(--Slightly-transparent-white-main);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 0px 25px;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: "Lexend Deca", sans-serif;
}
.stats div {
  text-align: center;
  margin-bottom: 25px;
}
.stats p:first-of-type {
  color: var(--White);
  font-weight: 400;
  font-size: 28px;
}
.stats p:last-of-type {
  color: var(--Slightly-transparent-white-stat);
  text-transform: uppercase;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-wrap: nowrap;
    max-width: 80%;
    height: 67vh;
  }
  .text-container {
    order: 1;
    flex: 0 1 50%;
    padding:initial;    
  }
  .image-container {
    order: 2;
    flex: 0 1 50%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    max-height: auto;
    display: block;
  }
  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size:30px;
    margin: 50px 50px 0 60px;
  }
  h2 {
    margin: initial;
    padding: initial;
    text-align: left;
    margin: 20px 60px 0 60px;
    padding-right: 35px;
    font-size: 15px;
    line-height: 30px;
  }
  .stats {
    flex-direction: row;
    justify-content: left;
    margin: 30px 50px 0 60px;
  }
  .stats div {
    text-align: left;
    margin-right: 50px;
  }
}
