:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: rgb(170, 92, 219);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 80px 30px 80px 30px;
  background-color: var(--Dark-desaturated-blue);
  max-width: 360px;
  border-radius: 10px;
  overflow: hidden;
}
.card img {
  max-width: 100%;
  height: auto;
  filter: invert(11%) sepia(22%) saturate(918%) hue-rotate(220deg) brightness(70%) contrast(114%);
}
h1 {
  color: var(--White);
  padding: 40px 25px 25px 30px;
  font-size: 28px;
  text-align: center;
}
h1 span {
  color: var(--Soft-violet);
}
h2 {
  color: var(--Slightly-transparent-white-main);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin: 0px 25px;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Lexend Deca', sans-serif;
}
.stats div {
  text-align: center;
  margin-bottom: 25px;
}
.stats p:first-of-type {
  color: var(--White);
  font-weight: 400;
  font-size: 28px;
}
.stats p:last-of-type {
  color: var(--Slightly-transparent-white-stat);
  text-transform: uppercase;
  margin-top: 10px;
}